*, *::before, *::after {
  box-sizing: border-box;
  font-family: Times;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../photos/wall.jpg)!important;
  /* backround van jouw kan je hierin zetten*/
}

body.correct {
  /* --hue: var(--hue-correct); */
}

body.wrong {
  /* --hue: var(--hue-wrong); */
}

canvas {
  background-image: URL('../photos/Colorful Galaxy by Slidesgo.jpg');
  background-size: cover;
}

.container {
  width: 30%;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px 2%;
  /*! opacity: 65%; */
  background: white;
  box-shadow: 0 0 70px 1px;
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 2%;
  /*! padding-left: 20px; */
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: #e4ecc5;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  /* --hue: var(--hue-correct); */
  /* color: black; */
}

.btn.wrong {
  /* background: #CC2E2E; */
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.img {
  height: 130px;
  background-size: cover;
}

.Qimg {
  margin: 0 auto;
  display: block;
  width: 220px;
}